<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../MetaData/Meta.ejs")%>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include("../MetaData/card.ejs")%>
</body>

</html>